<!-- Header
		============================================= -->
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
                ============================================= -->
            <div id="logo">
                <a [routerLink]="['/home']" class="standard-logo" data-dark-logo="assets/images/logo-dark.png"><img src="assets/images/logo.png" alt="Canvas Logo"></a>
                <a [routerLink]="['/home']" class="retina-logo" data-dark-logo="assets/images/logo-dark@2x.png"><img src="assets/images/logo@2x.png" alt="Canvas Logo"></a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation
                ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li routerLinkActive="current">
                        <a [routerLink]="['/home']">
                            <div>Inicio</div>
                        </a>
                    </li>
                    <li routerLinkActive="current">
                        <a [routerLink]="['/contacto']">
                            <div>Contacto</div>
                        </a>
                    </li>
                </ul>


                <!-- Top Search
                  ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                    </form>
                </div>
                <!-- #top-search end -->

            </nav>
            <!-- #primary-menu end -->

        </div>

    </div>

</header>
<!-- #header end -->