<div class="content-wrap">
    <div class="container-fluid vertical-middle center clearfix">

        <div class="error404">404</div>

        <div class="heading-block">
            <h4>Ooopps.! La página que esta buscando no puede ser encontrada.</h4>
            <span>Intenta utilizar el buscador:</span>
        </div>

        <form action="#" method="get" role="form" class="divcenter nobottommargin container">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Buscar...">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>